MONGO_URI=your_mongo_connection_string
CLIENT_URLS=http://localhost:5173,https://clixter.vercel.app,https://your-render-app.onrender.com
CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret
JWT_SECRET=your_jwt_secret
PORT=3004
NODE_ENV=development